*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero {
  width: 100vw;
  height: auto; 
 
}

.hero img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
  margin-top: 50px;

}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46vh;
  background: rgba(0, 0, 0, 0.4);
  transition: all 1s ease-in-out;
  padding-top: 300px;
  padding-left: 50px;
  
}
.hero-title{
  font-size: 48px;
  color:white;

}
.hero-desc{

  left: 0;
  color: white;
  font-size: 24px;

 
 
  
}